.Footer {
    width: 100%;
    text-align: center;
    padding-top: 1.5rem;
}
.copyright{
    font-weight: 700;
}
@media (max-width: 600px) {
    .Footer {
        padding-top: 1rem; /* Reduce padding for smaller screens */
        padding-bottom: 1rem; /* Add bottom padding to balance spacing */
    }

    .copyright {
        font-size: 0.9rem; /* Slightly reduce font size on small screens */
    }
}