.library_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.library_table th, .library_table td {
    padding: 0.8rem;
    border-top: 1px solid #204060;
    border-bottom: 1px solid #204060;
    text-align: left;
}

.showLibraryTableHead th {
    background-color: #d2d9df;
    color: #204060;
    font-weight: 700;
    position: relative;
}

.tooltips {
    position: relative;
    cursor: pointer;
    color: inherit;
}

.infoIconImg {
    width: 0.8rem;
    height: auto;
}

.tooltips:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.tooltip-text {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    border-radius: 0.375rem;
    padding: 0.5rem;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 40%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 1rem;
}

.tooltip-text-btn{
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    border-radius: 0.375rem;
    padding: 0.5rem;
    position: absolute;
    z-index: 1;
    right: 20%;
    bottom: 45%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.btn-table:hover .tooltip-text-btn {
    visibility: visible;
    opacity: 1;
}

.library_table td {
    background-color: #f8f9fa;
}

.btn-table {
    position: relative;
    border-radius: 0.375rem;
    border: 1px solid #204060;
    margin: 0.2rem;
    padding: 0.4rem;
    background-color: #ecf2f9;
    transition: background-color 0.3s ease;
}

.btn-table:hover {
    background-color: #b2c2d1;
}

.btn-table.img {
    border: 0;
}

.table-img-btn {
    height: 1.3rem;
}

.confirmation-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #e6f2ff;
    padding: 20px;
    border: 1px solid black;
    border-radius: 0.375rem;
    transform: translate(-50%, -50%);
    z-index: 1000;
    font-weight: 600;
}

.btn-group.pop-up {
    display: flex;
    justify-content: center;
}

.save-btn {
    padding: 0.7rem;
    font-weight: 650;
}