
  label {
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .booklist-header{
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
  }
  #bookList_icon{
    height: 40px;
    width: auto;
  }
  .booklist-form{
    display: flex;
    flex-direction: row;
  }
  .recommendBooks-btn{
    height: fit-content;
    width: fit-content;
    align-self: flex-end;
    margin-left: 2rem;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
  }
  .feature-section.booklist-section{
    background-color: #ebf0fa;
  }
  .form-label{
    font-size: 1.5rem;
  }
  .book-item{
    color: black !important;
  }

  .RecommendBooksList{
    color: black !important;
  }