.sign-form input{
    margin: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}
.sign-form .btn-input{
    margin: 1rem;
}
.additiona-btn{
    background-color: #669999;
}
.additiona-btn:hover{
    background-color: #39ac73;
}
.logOut-btn{
    background-color: #9494b8;
}
.logOut-btn:hover{
    background-color: #5c5c8a;
}